.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#title{
  margin-bottom: 0px;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.dog-round{
  border-radius: 50%;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.company-logo{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  
}
.logo{
  height: 30px;
  
}
.w-100{
  border-color: black;
color: black;
 }
 .w-100:hover{
  background-color: rgba(16, 13, 13, 0.943);
 }
.bt-101 {
  color: white;
  background-color: rgba(16, 13, 13, 0.943);
}
.bt-101:hover{
  background-color: rgba(15, 15, 15, 0.741);
}

.footer{
  background-color: transparent;
}

